  <div class="register">
    <form action="/auth/register" method="POST">
      <h2>Register</h2>
      <div class='register-username'>
        <label for="name">Username:</label>
        <input type="text" name="username" id="email" placeholder="Create a username" />
      </div>
      <div class="register-password">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Create a password" />
      </div>
      <div>
        <button>Create Account</button>
      </div>
    </form>
  </div>