    <div class="new-listing">
    <form class="new-post" action="/newcomment" method="post">
        <h2>Add comment</h2>

        <label for="content"></label>
        <input type="hidden" name="blogpost_id" value=1>
        <input 
        class="input-content"
        type="text"
        name="new_comment"
        />
        <button
        type="submit"
        >Add Comment</button>
    </form>
    </div>